@page "/clamping"

@layout SimpleLayouts.Share.LibLayout

<div class="clamp_body">
    <div class="clamp_card">
        <h1>Title Here</h1>
        <div class="clamp_visual"></div>
        <p>Descriptive Text. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed est error repellat veritatis.</p>
    </div>
</div>


@code {

}
