@page "/classic"

@layout SimpleLayouts.Share.LibLayout

<div class="classic_body">
    <div class="classic_header"><h1 contenteditable>Header.com</h1></div>
    <div class="classic_left-sidebar " contenteditable>Left Sidebar</div>
    <div class="classic_main" contenteditable></div>
    <div class="classic_right-sidebar" contenteditable>Right Sidebar</div>
    <div class="classic_footer" contenteditable>Footer Content — Header.com 2020</div>
</div>
@code {

}
