@page "/DeconstructedPancake"

@layout SimpleLayouts.Share.LibLayout

<div class="dp_parent">
    <div class="dp_child">1</div>
    <div class="dp_child">2</div>
    <div class="dp_child">3</div>
</div>

@code {

}
