@page "/lineup"

@layout SimpleLayouts.Share.LibLayout

<div class="line_body">
    <div class="line_card">
        <h1>Title - Card 1</h1>
        <p>Medium length description. Let's add a few more words here.</p>
        <div class="line_visual"></div>
    </div>
    <div class="line_card">
        <h1>Title - Card 2</h1>
        <p>Long Description. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed est error repellat veritatis.</p>
        <div class="line_visual"></div>
    </div>
    <div class="line_card">
        <h1>Title - Card 3</h1>
        <p>Short Description.</p>
        <div class="line_visual"></div>
    </div>
</div>

@code {

}
