@page "/stack"

@layout SimpleLayouts.Share.LibLayout

<div class="stack_body">
    <div class="stack_header"><h1>Header.com</h1></div>
    <div class="stack_main"></div>
    <div class="stack_footer">Footer Content — Header.com 2020</div>
</div>

@code {

}
