@page "/"
@*<div class="center_parent" style="margin-top:-700px">
        <div class="center_child">
            <h1>Single line CSS page Layouts in Blazor</h1>
            <p>I have include 10 common CSS page layouts using simple CSS.  I have included these as a component library.</p></div>
    </div>*@
    <div class="stayTop">
        <h1>Single line CSS page Layouts in Blazor</h1>
        <h3>I have include 10 common CSS page layouts using simple CSS.  I have included these as a component library.</h3>
    </div>

@code {

}
